= semantic_form_for(resource,:html => {:multipart => true, :class => 'bp'}) do |f|
  = f.inputs do
    = f.input :file, :label => 'Browse', :input_html => {:multiple => true}
    = f.input :file_url, :label => 'URL', :as => :url
    %li.file_drop.optional= html5_upload_area
  = f.buttons
  = f.inputs :name => 'Queue', :class => 'queue'
  
  = html5_template('upload_manager_queue_item') do
    %li 
      .name ${file.name}
      .status Pending
      .progress
      = link_to 'URL', '#', :class => 'url'