!!! 5
%html
  %head
    %title Cal2
    = stylesheet_link_tag 'compiled/screen'
    = javascript_include_tag 'vendor/jquery.1.4.4'
    = javascript_include_tag 'vendor/jquery.tmpl'
    = javascript_include_tag 'vendor/jquery.filedrop'
    = javascript_include_tag 'rails'
    = javascript_include_tag 'upload_manager'
    = javascript_include_tag 'tags_editor'
    = javascript_include_tag 'application'
    = csrf_meta_tag
  %body.bp
    = yield