!!! 5
%html
  %head
    %title Cal2
    = stylesheet_link_tag 'compiled/screen'
    
    = javascript_include_tag 'vendor/jquery.1.4.4'
    = javascript_include_tag 'vendor/flot/jquery.flot'
    = javascript_include_tag 'vendor/jquery.flot.hiddengraphs'
    
    = javascript_include_tag 'rails'
    = javascript_include_tag 'application'
    = csrf_meta_tag
  %body.bp
    = yield