!!! 5
%html
  %head
    %title Cal2
    = stylesheet_link_tag 'compiled/screen'
    
    = stylesheet_link_tag 'vendor/jquery-ui-1.8.7.custom'
    
    = javascript_include_tag 'vendor/jquery.1.4.4'
    = javascript_include_tag 'vendor/jquery-ui-1.8.7.custom.min'
    = javascript_include_tag 'jquery_extensions'
    
    = javascript_include_tag 'vendor/jquery.tmpl'
    = javascript_include_tag 'vendor/jquery.filedrop'
    
    = javascript_include_tag 'vendor/maccman/superclass'
    = javascript_include_tag 'vendor/maccman/superevent'
    = javascript_include_tag 'vendor/maccman/supermodel'
    
    = javascript_include_tag 'vendor/juggernaut/socket_io'
    = javascript_include_tag 'vendor/juggernaut/juggernaut'
    
    = javascript_include_tag 'models/base'
    = javascript_include_tag 'models/asset'
    
    = javascript_include_tag 'rails'
    = javascript_include_tag 'upload_manager'
    = javascript_include_tag 'tags_editor'
    = javascript_include_tag 'application'
    = csrf_meta_tag
  %body.bp
    = yield